/* Loader.module.css */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(0.98);
  }
}

/* New keyframes for the slide-up animation */
@keyframes slideUpAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
  }
}

.loader {
  position: fixed;
  inset: 0; /* Shorthand for top:0; right:0; bottom:0; left:0; */
  background-color: rgb(27, 27, 27);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 5.5s ease-out; /* Smooth fade out for the whole loader */
}

/* This class will be added dynamically when loading is complete */
.loader.slideUp {
  animation: slideUpAnimation 1s forwards ease-in-out; /* Adjust duration and easing as needed */
}

.hexagon {
  width: 90px;
  height: 80px;
  position: relative;
  margin-bottom: 1.5rem;
  animation: rotate 5s linear infinite;
}

.hexagon svg {
  animation: pulse 1.5s ease-in-out infinite;
}

.progress {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "BasebornSans", sans-serif;
  opacity: 1.9; /* Note: opacity usually goes from 0 to 1. 1.9 will behave like 1. */
}